<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/svg.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />

 
    <script src="node_modules/systemjs/dist/system.js"></script> 
   	<script type="text/javascript" src="./system.config.js"></script>


</head>

<body ng-app="pathsim">
    <div class="flex-container">
        <div class="header">
            <h1>Pathsim</h1>
        </div>
        <div ng-controller="MapController as map" cols="60" rows="35" class="map" id="map">
            <svg ng-attr-height="{{map.heightPx +1}}" ng-attr-width="{{map.widthPx + 1}}">
                <g ng-repeat="row in map.map.grid">
                    <rect ng-repeat="cell in row" ng-attr-x="{{cell.position.x * map.cellSize}}" ng-attr-y="{{cell.position.y * map.cellSize}}" ng-attr-width="{{map.cellSize}}" ng-attr-height="{{map.cellSize}}" ng-class="{blocked:cell.isBlocked,current:cell.isCurrent,closed:cell.isVisited,
                   start:cell.isStart, goal:cell.isGoal}" ng-mousedown="map.clickOnCell(cell)" ng-mouseover="map.mouseOverCell(cell, $event)" ng-attr-style="fill:{{cell.color}};"></rect>
                </g>
            </svg>

            <div class="controls">
                <form>
                    <fieldset>
                        <legend>Map Options</legend>
                        <input type="button" ng-click="map.cleanMap()" value="Reset map" />
                        <input type="button" ng-click="map.addDynamicObstacle()" value="Add robot" />
                        <input type="button" ng-click="map.addRandomObstacles()" value="Add random blocks" />
                        <input type="button" ng-click="map.addWalls()" value="Add Walls" />

                        <label for="algorithm">
                            <input type="checkbox" ng-click="map.visualizePathCosts()" ng-model="map.isVisualizePathEnabled" /> Visualize path cost
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Algorithm</legend>
                        <label for="algorithm">
                            <span>Typ:</span>
                            <select name="algorithm" id="algorithm" ng-model="map.algorithm" ng-change="map.changeAlgorithm();">
                                <option value="Dijkstra">Dijkstra</option>
                                <option value="AStar">A*</option>
                                <option value="LpaStar">Lifelong Planning A*</option>
                            </select>
                            <span>Distance:</span>
                            <select name="distance" id="distance" ng-model="map.distance" ng-change="map.changeAlgorithm();">
                                <option value="euklid">Euklid</option>
                                <option value="manhattan">Manhattan</option>
                                <option value="diagonalShortcut">Diagonal Shortcut</option>
                            </select>
                        </label>

                        <input type="button" ng-click="map.runStepByStep()" value="Run step by step" ng-hide="map.algorithm == 'LpaStar'" />

                    </fieldset>

                    <fieldset>
                        <legend>Statistic</legend>
                        <div>Visited Cells: <span>{{map.stat.visitedCells}}</span></div>
                        <div>Path Length: <span>{{map.stat.pathLength}}</span></div>
                    </fieldset>
                    <fieldset>
                        <legend>Cell</legend>
                        <table>
                          <tbody>
                            <tr>
                              <td>Position</td><td>{{map.hoveredCell.position.x}} {{map.hoveredCell.position.y}}<td>
                            </tr>
                            <tr ng-show="map.hoveredCell.distance">
                              <td>Distance</td><td>{{map.hoveredCell.distance | number:3}}<td>
                            </tr>
                            <tr ng-show="map.hoveredCell.rhs">
                              <td>Rhs</td><td>{{map.hoveredCell.rhs | number:3}}<td>
                            </tr>
                          </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>


</html>
