<html>

<head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/dijkstra.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/svg.css" />
</head>

<body ng-app="pathsim">
    <h1>Pathsim</h1>
    <div id="map">
        <!--    <svg height="400" width="650">
      <circle cx="100" cy="100" r="10" />
    </svg>-->
    </div>

    <div ng-controller="MapController as map" cols="60" rows="35">
        <svg ng-attr-height="{{map.heightPx +1}}" ng-attr-width="{{map.widthPx + 1}}">
            <g ng-repeat="row in map.map.grid">
                <rect ng-repeat="cell in row" ng-attr-x="{{cell.position.x * map.cellSize}}" ng-attr-y="{{cell.position.y * map.cellSize}}" ng-attr-width="{{map.cellSize}}" ng-attr-height="{{map.cellSize}}" ng-class="{blocked:cell.isBlocked,current:cell.isCurrent,closed:cell.isVisited,
                   start:cell.isStart, goal:cell.isGoal}" ng-mousedown="map.clickOnCell(cell)" ng-mouseover="map.mouseOverCell(cell, $event)" ng-attr-style="fill:{{cell.color}};"></rect>
            </g>
        </svg>

        <div style="margin:10px;">
            <form>
                <input type="button" ng-click="map.addRandomObstacles()" value="Add random blocks" />
                <input type="button" ng-click="map.runStepByStep()" value="Run step by step" />
            </form>
        </div>
    </div>
</body>


</html>