<html>

<head>
  <script src="node_modules/angular/angular.js"></script>
  <script src="scripts/map.js"></script>
  <script src="scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/svg.css" />
</head>

<body ng-app="pathsim">
  <h1>Pathsim</h1>
  <div id="map" >
<!--    <svg height="400" width="650">
      <circle cx="100" cy="100" r="10" />
    </svg>-->
  </div>

  <div ng-controller="MapController as map" cols="70" rows="36">
    <svg ng-attr-height="{{map.heightPx +1}}" ng-attr-width="{{map.widthPx + 1}}">
      <g ng-repeat="row in map.map.grid">
        <rect ng-repeat="cell in row"
        ng-attr-x="{{cell.position.y * map.cellSize}}"
        ng-attr-y="{{cell.position.x * map.cellSize}}"
        ng-attr-width="{{map.cellSize}}"
        ng-attr-height="{{map.cellSize}}"
        ng-class="{blocked:cell.isBlocked,current:cell.isCurrent,
                   start:cell.isStart, goal:cell.isGoal}"
        ng-mousedown="map.clickOnCell(cell)"
        ng-mouseover="map.mouseOverCell(cell, $event)"></rect>
      </g>
    </svg>

    <div style="margin:10px;">
      <form>
        <input type="button" ng-click="map.addRandomObstacles()" value="Add random blocks" />
      </form>
    </div>
  </div>
</body>


</html>
